<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
<body>
  
<div [hidden]='findResult'>
    <form>
      <input placeholder="Book Id" #id/> <br>
      <button class="btn btn-default" (click)='findBook(id.value)'>Find Book</button>
    </form>
  </div>

<div [hidden]='!findResult'>

<form class='mt-4'>
        
        <input type="hidden"  class='form-control' [(ngModel)]="oldBook.id" name="id">
        <label>Book Id</label>
        <input class='form-control' [(ngModel)]="oldBook.bookId" name="bid">
        <label>Book Name</label>
        <input class='form-control' [(ngModel)]="oldBook.bookName" name="title">
        <label>Author</label>
        <input class='form-control' [(ngModel)]="oldBook.author" name="author">
        <br/>
         <button class='btn btn-default' (click)="updateBook(oldBook)">Update Book</button>   
       
      </form>


</div>
</body>
</html>


            



