<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class='form-group mt-4'>
    <form>
    <div>
      <label for="Book Name">Book Name</label>
    </div>
    <div>
        <input  name='bookName' [(ngModel)]='book.bookName' class='form-control '/>
      </div>
    <div>
        <label for="Book Author">Book Name</label>
      </div>
      <div>
      <input  name='author' [(ngModel)]='book.author' class='form-control'/><br>
    </div>
    <div>
      <button (click)=saveBook(book) class='btn btn-default'>Save Book</button>
    </div>
    </form>
  </div>

</body>
</html>