<div class="row">
  <div class="col-xs-4 col-sm-3 col-md-3">
    <img [src]="product.image" class="img-responsive" />
  </div>
  <div class="col-xs-8 col-sm-9 col-md-9">
    <span class="badge">{{idx+1}}</span>
    <h4>{{product.name|uppercase}}  <small>{{product.makeDate|date:'yyyy'}}</small></h4>
    <h5>{{product.price| priceDiscount:product.discount | currency:'INR' }}</h5>
    <button (click)="handleBuyBtnClick()" *ngIf="true" class="btn btn-sm btn-primary">buy</button>
    <hr/>
    <section>
        <ul class="nav nav-tabs">
          <li [class.active]="isTabSelected(1)"><a (click)="hanldeTabChange($event,1)">Description</a></li>
          <li [ngClass]="{active:isTabSelected(2),other:true}"><a (click)="hanldeTabChange($event,2)">Specification</a></li>
          <li [ngClass]="{active:isTabSelected(3),other:false}"><a (click)="hanldeTabChange($event,3)">Reviews</a></li>
        </ul>
        <div *ngIf="isTabSelected(1)" class="panel"><p>{{product.description}}</p></div>
        <div *ngIf="isTabSelected(2)" class="panel"><p>Not Yet</p></div>
        <div *ngIf="isTabSelected(3)" class="panel">
          <div *ngFor="let review of product.reviews">
          <app-review  [review]="review"></app-review>
          </div>
          <hr/>
          <app-review-form [product]="product"></app-review-form>
        </div>
    </section>
  </div>
  <!-- <pre>{{product|json}}</pre> -->
</div>