<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Document</title>
</head>
<body class='mt-4'>
  
<div [hidden]='showDiv' align='center'>
  <form>
    <label>Book Id</label>
    <input type="text" #id><br>
    <button (click)='findBook(id.value)'>Find Book</button> 
  </form>
</div>

<hr/>
<div [hidden]='!showDiv'>
  <table align='center'>
    <tr>
      <th>Book Id</th>
      <td><input name='id' [(ngModel)]='book.id' readonly/></td>
    </tr>
    <tr>
      <th>Book Name</th>
      <td><input name='bookName' [(ngModel)]='book.title'/></td>
    </tr>
    
    <tr>
      <th>Author</th>
      <td><input name='author' [(ngModel)]='book.author'/></td>
    </tr>

    <tr>
      <th align='center'>
        <button type='button' (click)='updateBook(book)'>Update Book</button>
      </th>
    </tr>

  
  </table>
</div>
  
</body>
</html>